@page
@model PNS4OneS.Pages.ChangePasswordModel
@{
    ViewData["Title"] = "Смена пароля";
}

<script>
    function comparePasswords()
    {
        let password = document.getElementById("floatingPassword").value;
        let passwordConfirm = document.getElementById("floatingPasswordConfirm").value;

        if (password != passwordConfirm)
        {
            document.getElementById("passwordMismatchText").style.display = "";
            return false;
        }

        return true;
    }

    document.getElementById("changePwdButton").style.display = "none";
</script>

<div class="text-center">
    <form class="form-signin" method="post">
        <h1 class="h3 mb-3 fw-normal">Смена пароля</h1>
        @if (Model.PasswordIncorrect)
        {
            <font color="red">Указан неверный пароль.</font>
        }
        @if (Model.NoPassword)
        {
            <font color="red">Не указан пароль.</font><br />
        }
        <font id="passwordMismatchText" color="red" style="display: none;">Введенные пароли не совпадают.</font><br />

        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPasswordOld" name="oldPassword" placeholder="Старый пароль" />
            <label for="floatingPassword">Старый пароль</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Пароль" />
            <label for="floatingPassword">Пароль</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPasswordConfirm" placeholder="Подтверждение пароля" autofocus />
            <label for="floatingPasswordConfirm">Подтверждение пароля</label>
        </div>
        <input type="hidden" name="sessionId" value="@Model.SessionId" />
        <button class="w-100 btn align-content-lg-around btn-primary" type="submit" onclick="return comparePasswords()">Сменить пароль</button>
    </form>
</div>
